@charset "UTF-8";
@font-face {
    font-family: "GhostTerror";
    src: url(Ghastly\ Panic.ttf) format("truetype");

    /*Tipos de format()
    - Opentype (otf)
    - Truetype (ttf)
    - Embedded-opentype
    - Truetype-aat (Apple Advanced Typography)
    - svg
    */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
}

h1 {
    font: bold 4em 'GhostTerror', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 4px;
}

h2 {
    text-align: right;
}

p {
    text-align: justify;
    text-indent: 30px;
}
