@charset "UTF-08";

body{
    height: 100vh;
    /* Background size é o tamanho dele, position é onde ele vai se posicionar e o repeat é mandar o background se repetir nos eixos X e Y ou não se repetir no NO-REPEAT */ 
    /*Tem shorthand pra background -> background: color -> image -> position -> repeat -> size(Na documentação diz que o size entra na shorthand nessa ordem, porém na prática não funciona e precisa declarar ele sozinho. Explicação: provavelmente em algum momento vão ser atualizados os navegadores e essa regra vai começar a valer, até lá tem que declarar ele solo) -> attachment;*/
    background: orange url("backgroundimg/fourpatternhq.jpg") center center no-repeat fixed;
    background-size: cover;
}
main{
    max-width: 2000px;
}
div.quadrado{
    background-image:url('backgroundimg/fourpatternhq.jpg');
    display: inline-block;
    border: 3px solid black;
    border-radius: 10px;
    background-color: lightgrey;
    min-width: 400px;
    height: 400px;
}

div#q1{
    background-position: left top;
}

div#q2{
    background-position: right top;

}

div#q3{
    background-position: right bottom;
}

div#q4{
    background-position: center center;
}