@charset "UTF-08";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

*{
    margin:0px;
    padding:0px;
    border:0px;
    font-family:'Roboto', sans-serif;
}
body{
    z-index: -5;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-weight: 500;
    min-width:98.9vw;
    max-width: 99.8vw;
}

header{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    min-height: 20vh;
    width: 96vw;
    padding-left: 2vw;
    padding-right: 2vw;
}
#title{
    font-size: 4vw;
    font-style: italic;
    color:#D6000D;
}
#point{
    font-size: 4vw;
}
#menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: -10vh;
    margin-left: 40vw;
}
#inic{
    font-size: 1.5vw;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 6vh;
}
#serv{
    font-size: 1.5vw;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 6vh;
}
#cont{
    font-size: 1.5vw;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 6vh;
}
#logi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    color: #ffffff;
    background-color: #D6000D;
    border-radius: 15px;
    width: 10vw;
    height: 6vh;
}

main{
    z-index: -3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    min-height: 100vh;
    width: 96vw;
    padding-left: 2vw;
    padding-right: 2vw;
}
#smain1{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 1vh;
    left:-20vw;
    align-items: center;
    flex-wrap: nowrap;
    width: 30vw;
    height: 48vh;
}
#smain2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: -30vh;
    left:20vw;
    align-items: center;
    flex-wrap: nowrap;
    width: 30vw;
    text-align: justify;
}
#tmain1{
    font-size: 2vw;
    font-weight: 500;
    text-align: justify;
    padding-bottom: 10px;   
}
#tmain2{
    font-size: 4vw;
    font-weight: 900;
    text-align: justify;
    color: #D6000D;
    padding-bottom: 50px;    
}
#soli{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    font-size: 1.5vw;
    color: #ffffff;
    background-color: #D6000D;
    border-radius: 15px;
    width: 20vw;
    height: 8vh;
    justify-content: space-around;
}
#smain3{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10vh;
    left:20vw;
    align-items: center;
    flex-wrap: nowrap;
    width: 45vw;
    height: 80vh;
}
#smain4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: -60vh;
    left:-20vw;
    align-items: center;
    flex-wrap: nowrap;
    width: 30vw;
    text-align: justify;
}
ul{
    list-style-type: none;
    list-style-position: outside;
    font-size: 2vw;
    margin: 0;
    padding: 0;
}
#smain4 > h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    position: relative;
    top: 20vh;
    left:-5vw;
    font-size: 2vw;
}
#smain5{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    position: relative;
    top:-30vh;
    left:-25vw;
    align-items: center;
    flex-wrap: nowrap;
    width: 42vw;
    text-align: justify;
}
#smain5 > h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-weight: 400;
    position: relative;
    top:0vh;
    left:7vw;
    z-index: 10;
    font-size: 2vw;

}
#tel{
    z-index: 1;
    background-color: #d3d3d3;
    width: 25vw;
    height: 8vh;
    margin-right:30px;
    border-radius: 15px;
}
#liga{
    width: 20vw;
    height: 8vh;
    background-color: #D6000D;
    color: #ffffff;
    font-size: 2vw;
    border-radius: 15px;
}
#smain6{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    flex-wrap: nowrap;
    width: 82vw;
    height: 45vh;
}
.esfera{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    top:5vh;
    left:2vw;
    width: 5vw;
    height: 10vh;
    background-color: #D6000D;
    border-radius: 50%;
    margin:10px
}
#pedro{
    background-color: #d3d3d3;
    width: 30vw;
    height: 30vh;
    margin-left: 10vw;
    border-radius: 20px;
    text-align: justify;
}
#maria{
    background-color: #d3d3d3;
    width: 30vw;
    height: 30vh;
    margin-left: 2vw;
    border-radius: 20px;
    text-align: justify;
}
.asidep{
    text-align: justify;
    padding-left:10vw;
    font-size: 1.2vw;
    position: relative;
    top:-5vh;
    left: -1vw;
}
.asidet1{
    text-align: justify;
    padding-left:10vw;
    font-size: 2vw;
    position: relative;
    top:-2vh;
    left:-1vw;
}
.asidet2{
    padding-left:10vw;
    font-size: 1.2vw;
    position: relative;
    top: -3vh;
    left:-1vw;
}
footer{
    display: flex;
    flex-direction: row;
    background-color: #000000;
    color: #ffffff;
    height: 52vh;
    width: 100vw;
}
#sfooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#part1{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: justify;
    justify-content: space-around;
    height: 33vh;
    width: 20vw;
    color: #ffffff;
    margin-right:5vw;
    margin-left:2vw;
}

#part2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    justify-content: space-around;
    height: 33vh;
    width: 20vw;
    color: #ffffff;
    margin-right:5vw;
}
#part3{
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    justify-content: space-around;
    height: 33vh;
    width: 20vw;
    color: #ffffff;
    margin-right:5vw;
}
#part4{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    justify-content: space-around;
    height: 33vh;
    width: 20vw;
    color: #ffffff;
}
.tpart1{
    font-size: 4vw;
}
.tpart2{

    font-size: 2vw;
}
.tpart3{

    font-size: 2vw;
}
.tpart4{

    font-size: 2vw;
}
.ppart1{

    font-size: 1vw;
}
.ppart2{

    font-size: 1vw;
}
.ppart3{

    font-size: 1vw;
}
.ppart4{

    font-size: 1vw;
}
#socialm{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: justify;
}
a:link {
    color: #000000;
    text-decoration: none;
}
  
a:visited {
    color: #000000;
    text-decoration: none;
}
  
a:hover {
    color: #000000;
    text-decoration: underline;
}
  
a:active {
    color: #000000;
    text-decoration: underline;
}
#a1:link {
    color: #ffffff;
    text-decoration: none;
}
  
#a1:visited {
    color: black;
    text-decoration: none;
}
  
#a1:hover {
    color: white;
    text-decoration: underline;
}
  
#a1:active {
    color: black;
    text-decoration: underline;
}
#a2:link {
    color: #ffffff;
    text-decoration: none;
}
  
#a2:visited {
    color: #ffffff;
    text-decoration: none;
}
  
#a2:hover {
    color: white;
    text-decoration: underline;
}
  
#a2:active {
    color: white;
    text-decoration: underline;
}